@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600&display=swap");

:root {
  --darkGray: #111729;
  --gray: #20293a;
  --lightGray: #364153;
  --veryiLightGray: #4a5567;

  --darkPurple: #1d1b48;
  --darkBlue: #3662e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

body {
  background-color: var(--lightGray);
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.box {
  width: 100%;
  max-width: 1000px;

  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.loading {
  background: transparent;

  background-image: linear-gradient(45deg, transparent, #c3c3c3, transparent);
  background-size: 400%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}